include LICENSE
include README.md
include requirements.txt
recursive-include explainable_robotics/data *
recursive-include explainable_robotics/config *
recursive-include explainable_robotics/knowledge * 